<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ cinema.name }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'cinema/style.css' %}">
</head>
<body>
<div class="cinema-container">
    <div>{{ cinema.number_of_seats }}</div>
    <div class="seats-container">
        {% for i,row in cinema.number_of_rows %}
            <div class="row">
                {% for seat in cinema.number_of_seats_per_row %}
                    <div>
                    {{ i }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

</div>
</body>
</html>